<h4><%= "name:-    #{@enquiry.try(:name)}" %></h4>
<h4><%= "email:-   #{@enquiry.try(:email)}" %></h4>
<h4><%= "Phone:-   #{@enquiry.try(:phone_no)}" %></h4>
<h4><%= "subject:- #{@enquiry.try(:subject)}" %></h4>
<h4><%= "message:- #{@enquiry.try(:message)}" %></h4>
